/*
**/.*
**/*.ipynb_checkpoints/
**/*.pyc
**/*.sh
**/*.ipynb
**/*.so
**/*version.py
!.gitignore
!hydra_pspec/
!scripts/
!strong_scaling_plots/
!test_data/
!README.md
!pyproject.toml
!environment.yaml
!run-hydra-pspec.py
